# Fichiers de données volumineux
GlobalLandTemperaturesByCity.csv

# Dossiers de sortie ETL
etl_output/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/

# Jupyter Notebook
.ipynb_checkpoints/

# Spark
spark-warehouse/
metastore_db/
derby.log
*.log
